{% extends 'user_dashboard_base.html' %}

{% block content %}

{% comment %} <section class="section-conten padding-y bg"> {% endcomment %}
<main class="col-md-9">
	
        <!-- Content for the main section goes here -->
        <!-- You can add your content here -->

		

		{% comment %} {% include 'includes/alerts.html' %} {% endcomment %}
		<div class="container">
		  <div class="row">
			<main class="col-md-9">
			  <article class="card">
                <div class="card-body">
						<strong class="card-title" >Change Password</strong>
							<div style="margin-top: 10px; ">
								
                                <div class="card-body">
                                    {% comment %} <h4 class="card-title mb-4">Change Password</h4> {% endcomment %}
                                    {% include 'includes/alerts.html' %}
                                    <form action="{% url 'change_password' %}" method="POST">
                                      {% csrf_token %}
                                      <div class="form-group">
                                        <input type="password" class="form-control" placeholder="Old Password" name="old_password">
                                     </div> 
                                        <div class="form-group">
                                           <input type="password" class="form-control" placeholder="New Password" name="new_pass1">
                                        </div> <!-- form-group// -->
                                        <div class="form-group">
                                          <input type="password" class="form-control" placeholder="Confirm New Password" name="new_pass2">
                                        </div> <!-- form-group// -->
                              
                              
                                        <div class="form-group float-right" >
                                            <button type="submit" class="btn btn-primary btn-md " > Submit  </button>
                                        </div> <!-- form-group// -->
										<div class="form-group float-left">
											<a href="{% url 'forgot_password' %}" class="" >Forgot password?</a>
							  
										</div> <!-- form-group form-check .// -->
                                    </form>
                                    </div> <!-- card-body.// -->
                                  </div>
									
							</div>

                </div> <!-- card-body .// -->
			  </article> <!-- order-group.// -->
			</main>
		  </div> <!-- row.// -->
		</div>


</section>
</main>

</div> <!-- row.// -->
</div> <!-- container.// -->
</body>
</html>

{% endblock %}