{% extends 'user_dashboard_base.html' %}


{% block content %}

{% comment %} <section class="section-conten padding-y bg"> {% endcomment %}
<main class="col-md-9">
	
        <!-- Content for the main section goes here -->
        <!-- You can add your content here -->

<div class="container">
	<div class="row">
	<main class="col-md-9">
		<article class="card">
			<div class="card-body">
				<strong class="card-title" >Your Orders</strong>
				{% if page_obj %}
					<div style="margin-top: 20px; ">
						{% for order in page_obj %}
						<a class="orders" href="{% url 'view_order' id=order.id %}">
							<div class="card" style="position: relative;">
								<div class="card-header">
									<div class="d-flex justify-content-between align-items-center">
										<img src="{{ order.product.product.image.url }}" alt="Product Image" width="71" height="71">
										<strong class="card-title">{{ order.product.product.product_name }} <small>{{ order.phone }}</small></strong>
										<small><p>Price: {{ order.amount }}</p>
											<p>Quantity: {{ order.quantity }}</p></small>
										<small>Status: {{ order.status }}</small>
									</div>
								</div>
							</div>
						</a>
						{% endfor %}
					</div>
					<!-- Display pagination links -->
					<div class="pagination">
						<ul class="pagination justify-content-center">
							{% if page_obj.has_previous %}
								<li class="page-item">
									<a class="page-link" href="?page=1">&laquo; First</a>
								</li>
								<li class="page-item">
									<a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
								</li>
							{% endif %}

							<li class="page-item active">
								<span class="page-link">
									Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
								</span>
							</li>

							{% if page_obj.has_next %}
								<li class="page-item">
									<a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a>
								</li>
								<li class="page-item">
									<a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
								</li>
							{% endif %}
						</ul>
					</div> <!-- .paginator -->
					{% else %}
					<div style="margin-top: 20px; ">
						{% include 'includes/alerts.html' %}
					</div>

					{% endif %}

		</div> <!-- card-body .// -->

		</article> <!-- order-group.// -->
	</main>
</div> <!-- row.// -->
</div>
{% endblock %}