{% extends 'admin_base.html' %}
{% block content %}
        <!-- Content -->
<!-- Header-->
<div class="messages-container">
    {% if messages %}
      <div class="messages">
        {% for message in messages %}
          <div class="alert alert-warning">{{ message }}</div>
        {% endfor %}
      </div>
    {% endif %}
</div>
<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Dashboard</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="{% url 'admin_dashboard' %}">Dashboard</a></li>
                            <li><a href="{% url 'admin_bannerlist' %}">Banner</a></li>
                            <li class="active"><a href="{% url 'admin_bannerlist' %}">Banner List</a></li>
                        </ol>
                        <ol class="breadcrumb text-right">
                            {% comment %} <a class="breadcrumb text-right" href="{% url 'admin_addproduct' %}"><i class="menu-icon fa fa-sign-in"></i>Add Product</a> {% endcomment %}
                            <a  href="{% url 'admin_addbanner' %}"><i class="menu-icon fa fa-plus"></i>Add Banner</a>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <a href="{% url 'admin_bannerlist' %}" ><strong class="card-title">Banner Details</strong></a>
                        <div class="float-md-right">
                            <form action="{% url 'admin_bannerlist' %}" class="search-form">
                                <div class="input-group">
                                    <input class="form-control search-input" type="text" placeholder="Search Name" name="search" aria-label="Search">
                                    <div class="input-group-append">
                                        <button class="btn search-btn" type="submit"><i class="fa fa-search"></i></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    
                    <div class="card-body">
                        <table id="bootstrap-data-table" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Banner Name</th>
                                    <th>Image</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for banner in page_obj %}
                                    <tr>
                                        <td>{{ banner.id }}</td>
                                        <td>{{ banner.name }}</td>
                                        <td>
                                            {% if banner.image %}
                                                <img src="{{ banner.image.url }}" class="#" width="70" height="40">
                                            {% endif %}
                                        </td>
                                        <td>
                                            <div class="dropdown">
                                                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="menu-icon fa fa-glass"></i>Actions
                                                </a>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                    <a class="dropdown-item" href="{% url 'update_banner' %}?bid={{ banner.id }} "><i class="menu-icon fa fa-sign-in"></i>Update</a>
                                                    <a class="dropdown-item" href="{% url 'delete_banner' %}?bid={{ banner.id }}"><i class="menu-icon fa fa-trash"></i>Delete</a> 
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                        <!-- Display pagination links -->
                        <div class="pagination">
                            <ul class="pagination justify-content-center">
                                {% if page_obj.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page=1">&laquo; First</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                                    </li>
                                {% endif %}

                                <li class="page-item active">
                                    <span class="page-link">
                                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                                    </span>
                                </li>

                                {% if page_obj.has_next %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>




                    </div>
                </div>
            </div>
        </div>
    </div><!-- .animated -->
</div><!-- .content -->


<div class="clearfix"></div>

<!-- Right Panel -->

<!-- Scripts -->


{% endblock %}
</body>
</html>