{% load static %}
<header class="section-header">
  <section class="header-main border-bottom">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-2 col-md-3 col-6">
          <a href="{% url 'user_home' %}" class="brand-wrap">
            <img class="logo" src="{% static 'images/clogo.png' %}">
          </a> <!-- brand-wrap.// -->
        </div>
      </div> <!-- row.// -->
    </div> <!-- container.// -->
  </section> <!-- header-main .// -->
</header> <!-- section-header.// -->


  <!-- Place the jQuery code just before the closing </body> tag -->
  
  </body>
  </html>  
